@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    table {
        background-color: blanchedalmond;
        border: double;
       
    }
    tr {
        background-color: blanchedalmond;
        border: double;
        height: 8px;
    }

  
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to our app</h1>
    <table>
        <tr>
            <td>
                <h1> List of Courses</h1>
            </td>
        </tr>
        <tr>
            
            <td>
                <div id="dvright">
                    <p>All the available courses are displayed here!!</p>
                </div>
            </td>
        </tr>
    </table>
    
</div>
